
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin-left: 30px;
  font-size: 3em;
}

body h1 {
  font-size: 5em;
  color: blue;
}

.logo {
  background-color: #0D122B;
  padding: 15px;
  color: white;
}
