<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Grouping Homepage</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

  </head>
  <body>
     <header>
       <div class="container">
         <h1 class="logo">Welcome to Smart Grouping!</h1>
         <strong><nav>
           <ul class="menu">
             <li><a href="{{ url_for('group') }}">Group (Single Assignment)</a></li>
             <li><a href="{{ url_for('group_all') }}">Group (Full Gradebook)</a></li>
             <li><a href="{{ url_for('cluster') }}">Cluster</a></li>
           </ul>
         </nav></strong>
       </div>
     </header>

     {% block content %}
     {% endblock %}

  </body>
</html>
